<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-4">
        <h2><%= icon('fas', 'cart-arrow-down') %> 장바구니</h2>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="width: 50%;">제품명</th>
            <th scope="col">가격</th>
            <th scope="col">수량</th>
            <th scope="col">합계</th>
            <th scope="col" style="width: 20px;"></th>
          </tr>
        </thead>
        
        
        <tbody>
          <% @carts.each do |cart| %>
           <tr>
            <th scope="row"><%= cart.pack.product_name%> </th>
            <td> <%= number_to_currency(cart.pack.price)%> </td>
            <td> <%= cart.quantity%></td>
            <td> <%= number_to_currency(cart.pack.price*cart.quantity) %> </td>
            <td>
              <a href="/carts/<%= cart.id %>" class="ml-3" data-method="delete" data-confirm="진짜 삭제하시겠습니까?"><%= icon("fas", "times-circle") %></a>
            </td>
           </tr>           
          <% end %>
        </tbody>
        
        
      </table>
    </div>
  </div>
</div>
